
<div class="container-fluid section-header px-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/Capture.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav right-section">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span class="px-2 fa-icon"><i class="fal fa-columns"></i></span>
                    <span class="nav-text">Mis proyectos</span>
                </a>
            </li>
            <li class="nav-item pr-2 vl">
                <a class="nav-link" href="#">
                    <span class="px-2 fa-icon"><i class="fas fa-users"></i></span>
                    <span class="nav-text">Usuarios</span>
                </a>
            </li>
            <li class="nav-item pl-2">
                <a class="nav-link" href="#">
                    <i class="fas fa-bell fa-lg"></i>
                </a>
            </li>
            <li class="nav-item ms-3">
                <a class="nav-link" href="#">
                    <i class="fal fa-cog fa-lg"></i>
                </a>
            </li>
            <li class="nav-item ms-3">
                <a class="nav-link" href="#">
                    <i class="fal fa-sign-out fa-lg"></i>
                </a>
            </li>
        </ul>
    </div>
  </nav>
</div>