.section-header{
    background-color: #081647;
    padding: 10px;
}
.navbar-light .navbar-toggler-icon{
    background: none;
}
.navbar-light .navbar-toggler {
    position: relative;
    right: -25px;
    top: 8px;
}
.right-section{
    /* position: absolute;
    right: 10px; */
}
.vl{
    border-right: 1px solid gray;
}
.section-header .fal, .fas{
    color: #b991fd;
    font-size: 20px;
}
.fal.fa-columns{
    position: relative;
    top: 5px;
}
a.nav-link{
    color: #ffffff;
}
.section-header .navbar-light .navbar-nav .nav-text:hover{
    color: #9b57fc;
    border-bottom: 2px solid #9b57fc;
}
a.nav-link.active> .fa-icon .fas{
    color: #059400;
}
.section-header .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #9b57fc;
   
}
.section-header .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active>.nav-text{
    border-bottom: 2px solid #9b57fc;
    padding-bottom: 5px;
    font-weight: 500;
    padding-top: 7px;
}
.section-header .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active>.fa-icon .fas{
    font-size: 22px;
}
.section-header .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 90%);
}


.section-header button:focus{
    outline:none;
}