.pdf-wrap{
    width: 52%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pdf-wrap{
    
}
.bg-img{
    background-image: url('../../assets/images/pdf-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 259px;
    width: 100%;
}
/* pdf info area  */
.pdf-info-area .heading{
    color: #09599f;
    font-size: 36px;
    font-weight: 400;
}
.pdf-info-area .icon{
    color: #8bc63e;
}
.pdf-info-area .paragraph{
    color: #000;
    font-weight: 700;
    padding-left: 17px;
}
.pdf-info-area .form-control{
    border: 3px solid #09599f;
    border-radius: 20px;
}
.pdf-info-area .form-control::placeholder{
    color: #09599f;
    font-size: 18px;
    font-weight: 700;
}
.pdf-info-area .section{
    width: 49%;
}
.pdf-info-area .right-section{
    width: 49%;
}
.pdf-info-area .btn-blue{
    background-color: #09599f;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    padding: 5px 40px 5px 40px
}
.pdf-info-area .img{
    width: 100%;
    height: 280px;
}
.pdf-info-area .graph-box{
    border: 2px solid gray;
    font-size: 11px;
}
.pdf-info-area .graph-box .sub-paragraph{
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding-left: 25px;
}
.pdf-info-area .graph-img{
    width: 105%;
    height: 329px;
}
.pdf-info-area .icon-blue{
    color: #007bff;
}
.pdf-info-area .icon-yellow{
    color: rgb(247, 247, 8);
}
.pdf-info-area .bottom-section{
    border: 3px solid #09599f;;
    border-radius: 35px;
}


.bottom-section{
    border: 2px solid blue;
    border-radius: 35px;
}
.bottom-section .heading{
    color: blue;
    font-size: 20px;
    font-weight: 700;
}
.left-section{
    width: 55%;
}
.right-section{
    width: 45%;
}
.vl{
    border-right: 3px solid blue;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bg-img{
    /* background-image: url('images/bottom-bg-img.png'); */
    background-repeat: no-repeat;
    width: 50%;
    height: 300px; 
}
















@media only screen and (max-width: 991px) {
    .row-padding{
        width: 80%;
    }
}

@media only screen and (max-width: 475px) {
    .row-padding{
        width: 100%;
    }
}