<div class="scards-main">
  <div class="c-top">
    <div class="c-name">
      <span class="c-icon"><i class="fas fa-user"></i></span>
      <span class="ch">Personal asignado</span>
    </div>
    <div>
      <div class="em-dashbord">
        <app-dashboard-edit-modal></app-dashboard-edit-modal>
      </div> 
    </div>
  </div>
 
  
  

<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">
    <div class="ut">
      <div class="im-wrap">
        <img src="../../assets/images/img1.png" alt="user">
      </div>
      <h3>Luisa</h3>
        <p>Emisor</p>
    </div>
  </label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2" class="t-pad">
    <div class="ut">
      <div class="im-wrap">
        <img src="../../assets/images/img2.png" alt="user">
      </div>
      <h3>Luisa</h3>
        <p>Supervisor 1</p>
    </div>
  </label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
  <label for="tab3" class="t-pad">
    <div class="ut">
      <div class="im-wrap">
        <img src="../../assets/images/img3.png" alt="user">
      </div>
      <h3>Raúl</h3>
        <p>Supervisor 2</p>
    </div>
  </label>
  <!-- Tab 4 -->
  <input type="radio" name="tabset" id="tab4" aria-controls="dunkles">
  <label for="tab4" class="t-pad">
    <div class="ut">
      <div class="im-wrap">
        <img src="../../assets/images/img4.png" alt="user">
      </div>
      <h3>María</h3>
        <p>Ajustador</p>
    </div>
  </label>
  
  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
      <section class="accordion">
        <input type="checkbox" name="collapse" id="handle1" checked="checked">
        <h2 class="handle">
          <label for="handle1">
            <span>
              <img src="../../assets/images/gen.png" alt="">
            </span>
            Generales
          </label>
        </h2>
        <div class="content">
          <div class="t-para">
            <p>Número de aviso: 012345</p>
            <p>Fecha de aviso:</p>
            <p>Fecha de ocurrencia:</p>
            <p>Beneficiario: ODELBA CONTRERAS</p>
            <p>Esquema: Maíz/grano</p>
            <p>Met. de evaluación: </p>
            <p>Tipo de ajuste:</p>
            <p>Vigencia</p>
            <p>Riesgos cubiertos:</p>
            <p>Fecha de cosecha:</p>
            <p>Fecha de siembra:</p>
          </div>
        </div>
      </section>
      <section class="accordion">
        <input type="checkbox" name="collapse2" id="handle2">
        <h2 class="handle">
          <label for="handle2">
            <span>
              <img src="../../assets/images/sup.png" alt="">
            </span>
            Superficie
          </label> 
        </h2>
        <div class="content">
          <div class="tc-info">
            <ul class="up-list">
              <li>
                <p>100<span>ha</span></p>
                <h6>Aseguradas</h6>
              </li>
              <li>
                <p>20<span>ha</span></p>
                <h6>Reportadas</h6>
              </li>
              <li>
                <p>100<span>ha</span></p>
                <h6>Afectadas</h6>
              </li>
            </ul>
            <div class="b-div">
              <ul class="b-list">
                <li>
                  <h6>Lote 1</h6>
                </li>
                  <li>
                    <p>10 ha</p>
                  </li>
                <li>
                  <i class="fa fa-location-arrow"></i>
                </li>
              </ul>
              <ul class="b-list">
                <li>
                  <h6>Lote 1</h6>
                </li>
                  <li>
                    <p>10 ha</p>
                  </li>
                <li>
                  <i class="fa fa-location-arrow"></i>
                </li>
              </ul>
            </div>
          </div> 
        </div>
      </section>
      <section class="accordion">
        <input type="checkbox" name="collapse2" id="handle3">
        <h2 class="handle">
          <label for="handle3">
            <span>
              <img src="../../assets/images/ins.png" alt="">
            </span>
            Inspecciones
          </label>
        </h2>
        <div class="content">
          <div class="in-main">
            <p>Número de inspecciones realizadas: 1 </p>
            <div class="in-card">
              <div class="u-img">
                <img src="../../assets/images/u.png" alt="">
              </div>
              <div class="iu-card">
                <div class="iau">
                  <div>
                    <h6>Esta es una inspección</h6>
                  </div>
                  <div class="i-active"></div>
                </div>
                <div class="clearfix"></div>
                <div>
                  <p class="ut">Lote 1  </p>
                  <p class="utime">12/12/2021 - 14:30:29</p>
                </div>
                <div class="clearfix"></div>
                <p>
                  Se muestra el principio del texto en la nota con un máximo de dos líneas
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="accordion">
        <input type="checkbox" name="collapse2" id="handle4">
        <h2 class="handle">
          <label for="handle4">
            <span>
              <img src="../../assets/images/for.png" alt="">
            </span>
            Formatos
          </label>
        </h2>
        <div class="content">
          <div class="formatos-main">
            <ul>
              <li>
                <div class="af">
                  <p><span class="tick"><i class="fa fa-check"></i></span> Aviso de siniestro agrícola</p>
                </div>
                <div class="d-icon">
                  <img src="../../assets/images/d.png" alt="">
                </div>
              </li>

              <li>
                <div class="af">
                  <p><span class="tick"><i class="fa fa-check"></i></span> Aviso de siniestro agrícola</p>
                </div>
                <div class="d-icon">
                  <img src="../../assets/images/d.png" alt="">
                </div>
              </li>

              <li>
                <div class="af">
                  <p><span class="tick"><i class="fa fa-check"></i></span> Aviso de siniestro agrícola</p>
                </div>
                <div class="d-icon">
                  <img src="../../assets/images/d.png" alt="">
                </div>
              </li>

              <li>
                <div class="af">
                  <p><span class="tick"><i class="fa fa-check"></i></span> Aviso de siniestro agrícola</p>
                </div>
                <div class="d-icon">
                  <img src="../../assets/images/d.png" alt="">
                </div>
              </li>

              <li>
                <div class="af">
                  <p><span class="tick"><i class="fa fa-check"></i></span> Aviso de siniestro agrícola</p>
                </div>
                <div class="d-icon">
                  <img src="../../assets/images/d.png" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>
    
  </div>
  
</div>

</div>
