<div class="sidebar-mian">
  
<!---------------- search start --------------------->

  <div class="s-serach">
      <div class="d-inline-block search-header-icon">
          <i class="bell">
            <img src="../../assets/images/bell.png" alt="">
          </i>
      </div>
      <div class="d-inline-block s-heading">
          <h1>Alertas</h1> 
      </div>
  </div>
  <div class="search-form">
      <div class="container">
          <div class="row">
              <div class="col-md-9 col-sm-12 s-col">
                  <div class="form-group has-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input type="text" class="form-control" placeholder="Buscar">
                  </div>
              </div>
              <div class="col-md-3 col-sm-12 s-col">
                  <div class="search-btn">
                    <i class="bell">
                      <img src="../../assets/images/filter.png" alt="">
                    </i>
                      <p>Filtrar</p>
                  </div>
              </div>
          </div>
      </div>    
  </div>
<!---------------- search end ------------------------->


<!---------------- Sidebar Start------------------------->
<div class="sidbar-tabs">
  <label class="tab1 tabs"> 
    <input type="radio" name="radioname" value="one_value" checked="checked"/>
    <div class="label-main">
      <div class="ls">
        <h4>
          Siniestro: 03-600-2322/2019
        </h4>
        <p>Póliza: 123456789 
          <span>
            Vigente
            <i class="fa fa-check"></i>
          </span>
        </p>
        <p>Cultivo: Maíz</p>
        <p>Ubicación: Ciudad Obregón, Son</p>
        <p>Asegurado: José Jesús Robles</p>
        <h5>Causa: Heladas</h5>
      </div>
      <div class="rs">
        <button class="yellow-btn">Verificación</button>
        <h6>Afectación</h6>
        <span>10/100 ha</span>
      </div>
    </div>
  </label>
  
  <label class="tab1 tabs">
    <input type="radio" name="radioname" value="another" />
    <div class="label-main">
      <div class="ls">
        <h4>
          Siniestro: 03-600-2322/2019
        </h4>
        <p>Póliza: 123456789 
          <span>
            Vigente
            <i class="fa fa-check"></i>
          </span>
        </p>
        <p>Cultivo: Maíz</p>
        <p>Ubicación: Ciudad Obregón, Son</p>
        <p>Asegurado: José Jesús Robles</p>
        <h5>Causa: Heladas</h5>
      </div>
      <div class="rs">
        <button class="green-btn">Ajuste</button>
        <h6>Afectación</h6>
        <span>10/100 ha</span>
      </div>
    </div>
  </label>
</div>
<!---------------- Sidebar End------------------------->
</div>
