<div class="container">
    <div class="row mt-2">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="box_wrap_cover clearfix">
                <div class="user_img_wrap">
                    <img src="../../assets/images/image1.jpg">
                </div>
                <div class="text_wrap">
                    <span class="symbol"><i class="fas fa-circle "></i>Active</span>
                   <h2>Nombre Completo</h2>
                   <i class="sub_name">Presto</i>
                    <a class="email_adress"> <i class="fal fa-envelope info-card-icon"></i>nombre@ejemplo.com</a>
                    
                    <a class="whtzapp"><i class="fab fa-whatsapp icon"></i>(662) 310 0000)</a>
                    <span class="home_address"><i class="fal fa-vector-square info-card-icon"></i>3 lotes asignados</span>
                    <div class="box_dual_btn">
                        <a class="fal fa-edit info-card-icon"></a>
                        <a class="fal fa-trash-alt text-danger"></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
