<div class="container">
    <div class="row mt-2">
        <div class="col-lg-4">
            <div class="shedow py-2 px-2">
                <div class="float-right"><p class="left-heading">Active</p></div>
                <div class="float-right"> <i class="fas fa-circle fa-xs info-card-circle"> </i></div>
                <div class="d-flex pt-3">
                    <span class="d-inline-block w-25"><img src="../../assets/images/image1.jpg"></span>
                    <div class="d-inline-block w-75 info-card-main-section">
                        <div>
                            <h5 class="main-heading pt-1">Nombre Completo</h5>
                            <h6 class="main-bottom-heading">Puesto</h6>
                        </div>
                        <div class="main-section">
                            <div>
                                <span><i class="fal fa-envelope info-card-icon"></i></span>
                                <span><p class="sub-main-heading">nombre@ejemplo.com</p></span>
                            </div>
                            <div class="info-card-section">
                                <span><i class="fab fa-whatsapp icon"></i></span>
                                <span><p class="sub-main-heading">(662) 310 0000)</p></span>
                            </div>
                            <div class="info-card-bottom-section">
                                <span><i class="fal fa-vector-square info-card-icon"></i></span>
                                <span><p class="sub-main-heading">3 lotes asignados</p></span>
                             </div>
                        </div>
                        <div class="info-card-bottom-icon"><i class="fal fa-trash-alt text-danger"></i></div>
                        <div class="info-card-bottom-icon mr-2"><i class="fal fa-edit info-card-icon"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="shedow py-2 px-2">
                <div class="float-right"><p class="left-heading">Active</p></div>
                <div class="float-right"> <i class="fas fa-circle fa-xs info-card-circle"> </i></div>
                <div class="d-flex pt-3">
                    <span class="d-inline-block w-25"><img src="../../assets/images/image1.jpg"></span>
                    <div class="d-inline-block w-75 info-card-main-section">
                        <div>
                            <h5 class="main-heading pt-1">Nombre Completo</h5>
                            <h6 class="main-bottom-heading">Puesto</h6>
                        </div>
                        <div class="main-section">
                            <div>
                                <span><i class="fal fa-envelope info-card-icon"></i></span>
                                <span><p class="sub-main-heading">nombre@ejemplo.com</p></span>
                            </div>
                            <div class="info-card-section">
                                <span><i class="fab fa-whatsapp icon"></i></span>
                                <span><p class="sub-main-heading">(662) 310 0000)</p></span>
                            </div>
                            <div class="info-card-bottom-section">
                                <span><i class="fal fa-vector-square info-card-icon"></i></span>
                                <span><p class="sub-main-heading">3 lotes asignados</p></span>
                             </div>
                        </div>
                        <div class="info-card-bottom-icon"><i class="fal fa-trash-alt text-danger"></i></div>
                        <div class="info-card-bottom-icon mr-2"><i class="fal fa-edit info-card-icon"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="shedow py-2 px-2">
                <div class="float-right"><p class="left-heading">Active</p></div>
                <div class="float-right"> <i class="fas fa-circle fa-xs info-card-circle"> </i></div>
                <div class="d-flex pt-3">
                    <span class="d-inline-block w-25"><img src="../../assets/images/image1.jpg"></span>
                    <div class="d-inline-block w-75 info-card-main-section">
                        <div>
                            <h5 class="main-heading pt-1">Nombre Completo</h5>
                            <h6 class="main-bottom-heading">Puesto</h6>
                        </div>
                        <div class="main-section">
                            <div>
                                <span><i class="fal fa-envelope info-card-icon"></i></span>
                                <span><p class="sub-main-heading">nombre@ejemplo.com</p></span>
                            </div>
                            <div class="info-card-section">
                                <span><i class="fab fa-whatsapp icon"></i></span>
                                <span><p class="sub-main-heading">(662) 310 0000)</p></span>
                            </div>
                            <div class="info-card-bottom-section">
                                <span><i class="fal fa-vector-square info-card-icon"></i></span>
                                <span><p class="sub-main-heading">3 lotes asignados</p></span>
                             </div>
                        </div>
                        <div class="info-card-bottom-icon"><i class="fal fa-trash-alt text-danger"></i></div>
                        <div class="info-card-bottom-icon mr-2"><i class="fal fa-edit info-card-icon"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>