<div class="container">
    <div class="row mt-2">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="box_wrap_cover clearfix">
                <div class="user_img_wrap">
                    <img src="../../assets/images/image1.jpg">
                </div>
                <div class="text_wrap">
                    <span class="symbol"><i class="fas fa-circle "></i>Active</span>
                   <h2>Nombre Completo</h2>
                   <i class="sub_name">Presto</i>
                    <a class="email_adress fa-icon"> <i class="fal fa-envelope info-card-icon"></i>nombre@ejemplo.com</a>
                    
                    <a class="whtzapp fa-icon"><i class="fab fa-whatsapp icon"></i>(662) 310 0000)</a>
                    <span class="home_address fa-icon"><i class="fal fa-vector-square info-card-icon"></i>3 lotes asignados</span>
                    <div class="box_dual_btn edit-div">
                        <app-edit-user-modal></app-edit-user-modal>
                        <a class="fal fa-trash-alt text-danger"></a>
                        <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="box_wrap_cover clearfix">
                <div class="user_img_wrap">
                    <img src="../../assets/images/image1.jpg">
                </div>
                <div class="text_wrap">
                    <span class="symbol"><i class="fas fa-circle "></i>Active</span>
                   <h2>Nombre Completo</h2>
                   <i class="sub_name">Presto</i>
                    <a class="email_adress fa-icon"> <i class="fal fa-envelope info-card-icon"></i>nombre@ejemplo.com</a>
                    
                    <a class="whtzapp fa-icon"><i class="fab fa-whatsapp icon"></i>(662) 310 0000)</a>
                    <span class="home_address fa-icon"><i class="fal fa-vector-square info-card-icon"></i>3 lotes asignados</span>
                    <div class="box_dual_btn edit-div">
                        <app-edit-user-modal></app-edit-user-modal>
                        <a class="fal fa-trash-alt text-danger"></a>
                        <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="box_wrap_cover clearfix">
                <div class="user_img_wrap">
                    <img src="../../assets/images/image1.jpg">
                </div>
                <div class="text_wrap">
                    <span class="symbol"><i class="fas fa-circle "></i>Active</span>
                   <h2>Nombre Completo</h2>
                   <i class="sub_name">Presto</i>
                    <a class="email_adress fa-icon"> <i class="fal fa-envelope info-card-icon"></i>nombre@ejemplo.com</a>
                    
                    <a class="whtzapp fa-icon"><i class="fab fa-whatsapp icon"></i>(662) 310 0000)</a>
                    <span class="home_address fa-icon"><i class="fal fa-vector-square info-card-icon"></i>3 lotes asignados</span>
                    <div class="box_dual_btn edit-div">
                        <app-edit-user-modal></app-edit-user-modal>
                        <a class="fal fa-trash-alt text-danger"></a>
                        <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
