
.user_img_wrap {
    width: 30%;
    float: left;
    overflow: hidden;
    height: 130px;
}
.box_wrap_cover {
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-shadow: 0px 4px 4px 4px #eeeeee;
    position: relative;
}
.user_img_wrap img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}
.text_wrap {
    float: left;
    width: 70%;
    padding: 12px 0 0 10px;
}
.text_wrap .symbol {
    position: absolute;
    right: 5px;
    font-size: 12px;
    top: 7px;
}
.text_wrap .symbol i {
    color: #3bc194;
    margin-right: 5px;
}
.text_wrap a {
    display: block;
    font-size: 12px;
}
.text_wrap .home_address {
    display: block;
    font-size: 12px;
}
.text_wrap .home_address i {
    margin-right: 5px;
}
.text_wrap a i {
   margin-right: 5px;
}
.text_wrap h2 {
    font-size: 12px;
    font-weight: bold;
}
.text_wrap .sub_name {
    color: #929292;
    font-size: 8px;
    line-height: 8px;
    margin-bottom: 10px;
    display: block;
}
.text_wrap .box_dual_btn a {
    display: inline-block !important;
    font-size: 16px !important;
    font-weight: 500;
}
.text_wrap .box_dual_btn {
    text-align: right;
}
.text_wrap .box_dual_btn .info-card-icon {
    color: #0f4dea;
}