
<div class="dashbord-edit">
  <!-- Button to Open the Modal -->
  <span type="button" class="" data-toggle="modal" data-target="#myModal">
    <!-- <a class="fal fa-edit info-card-icon"></a> -->
    <div class="box_dual_btn">
      <a class="fal fa-edit info-card-icon pr-1"></a>
      <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
  </div>
  </span>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog edit_modal_guardar">
      <div class="modal-content">
        <!-- Modal Header -->
        
        
        <!-- Modal body -->
        <div class="modal-body dashboard-edit">
          <div class="edit-header">
            <!-- <h4>Agregar Usuario</h4> -->
            <button type="button" class="close" data-dismiss="modal">
              <i class="fas fa-times f-item"></i>
            </button>
          </div>
          <h3>Gestionar personal asignado</h3>
          
          <!-- Info Tabel -->
          <div class="user-table mt-dashbord">
            <div class="form-group has-search search-area">
              <span class="fa fa-search form-control-feedback"></span>
              <input class="form-control" placeholder="Buscar usuario" type="text">
              <h5>Agregar</h5>
            </div>
            <div class="table_wrap">
              <table class="table">
                <thead class="heading">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Whatsapp</th>
                    <th scope="col">Rol</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">
                      <div class="mu-area">
                        <div class="active-user"></div>
                        <div class="um-wrap">
                          <img src="../../assets/images/img1.png" alt="">
                        </div>
                        <span class="umn">
                          <p>José Jesús Robles Robles</p>
                        </span>
                      </div>
                    </td>
                    <td>
                      <p>Sub-gerente</p>
                    </td>
                    <td>
                      <a href="callto:(662) 100 0011">(662) 100 0011</a>
                    </td>
                    <td>
                      <div class="action-div">
                        <button class="ma-btn">Supervisor</button>
                        <button class="ma-btn">Ajustador</button>
                        <button class="croz-btn"> &times; </button>
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td scope="row">
                      <div class="mu-area">
                        <div class="active-user"></div>
                        <div class="um-wrap">
                          <img src="../../assets/images/img2.png" alt="">
                        </div>
                        <span class="umn">
                          <p>Emisor</p>
                          <p>Melisa Robles Robles</p>
                        </span>
                      </div>
                    </td>
                    <td>
                      <p>Sub-gerente</p>
                    </td>
                    <td>
                      <a href="callto:(662) 100 0011">(662) 100 0011</a>
                    </td>
                    <td>
                      <div class="action-div">
                        <button class="ma-btn-filled">Supervisor</button>
                        <button class="ma-btn">Ajustador</button>
                        <button class="croz-btn"> &times; </button>
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td scope="row">
                      <div class="mu-area">
                        <div class="active-user"></div>
                        <div class="um-wrap">
                          <img src="../../assets/images/img3.png" alt="">
                        </div>
                        <span class="umn">
                          <p>Demian Díaz</p>
                        </span>
                      </div>
                    </td>
                    <td>
                      <p>Sub-gerente</p>
                    </td>
                    <td>
                      <a href="callto:(662) 100 0011">(662) 100 0011</a>
                    </td>
                    <td>
                      <div class="action-div">
                        <button class="ma-btn-filled">Supervisor</button>
                        <button class="ma-btn">Ajustador</button>
                        <button class="croz-btn"> &times; </button>
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td scope="row">
                      <div class="mu-area">
                        <div class="active-user"></div>
                        <div class="um-wrap">
                          <img src="../../assets/images/img4.png" alt="">
                        </div>
                        <span class="umn">
                          <p>Lilian Cacho Cantú</p>
                        </span>
                      </div>
                    </td>
                    <td>
                      <p>Sub-gerente</p>
                    </td>
                    <td>
                      <a href="callto:(662) 100 0011">(662) 100 0011</a>
                    </td>
                    <td>
                      <div class="action-div">
                        <button class="ma-btn">Supervisor</button>
                        <button class="ma-btn-filled">Ajustador</button>
                        <button class="croz-btn"> &times; </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="dashb-btn">
              <div class="ua-btn">
                <button class="btn btn-guradar black-btn" type="submit">
                  <i class="fas fa-times f-item"></i>Descartar
               </button>
  
               <button class="btn btn-guradar blue-btn" type="submit">
                <i class="fa fa-check f-item"></i>Guardar
              </button>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
